{% extends 'mainapp/base.html' %}

{% block content %}
<div class="col">
    
    <div class="row mb-4">
        <h3 style="margin-right: 20px;">Find Work</h3>
        <form class="form-inline">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

    </div>

    <div class=" row card mb-1 mt-3 shadow-md p-1  rounded bg-steel" style="text-align: center;">
        <h4 style="color: white;">Feeds</h4>
    </div>
    {% if user.profile.account_type == 'Tutor' %}
    {% for post in posts%}
    <a href="{{ post.get_absolute_url }}"><div class=" row shadow-lg p-3 mb-3 bg-white rounded">
        <article class="media">
            <img class="rounded-circle article-img" src="{{ post.owner.profile.profile_pic.url}}">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="">{{post.owner.username}}</a>
                <small class="text-muted">{{post.date_posted}}</small>
            </div>
            <h6><b><a class="article-title" href="{{ post.get_absolute_url }}">{{post.title}}</b></a></h6>
            
            <p class="article-content">{{post.content|safe|truncatewords:"30"|linebreaks}}</p>
            <a href="{{post.get_absolute_url}}" style="decoration: none; color: white;"><button class="btn float-right" style="background-color:#5f788a; color: white;">Read More</button><a/>
            </div>
        </article>
    </div></a>
    {%endfor%}
    {% else %}
    {% for tutor in users %}
    
    <a href=""><div class=" row shadow-lg p-3 mb-3 bg-white rounded">
        <article class="media">
            <img class="rounded-circle article-img" src="{{tutor.profile.profile_pic.url}}">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="">{{tutor.username}}</a>
                
            </div>
            <h2><a class="article-title" href=""></a></h2>
            <p class="article-content">{{tutor.profile.profile_over}}</p>
            </div>
        </article>
    </div></a>
    {% endfor %}
    
    {% endif %}
    
    <!-- Modal -->
    
</div>
  
    
{% endblock content %}

